.p-5{
    padding: 5px;
}

.w-50{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50%;
    align-items: center;
    margin: auto;
}

.m-r-5{
    margin-right: 5px;
}

.m-l-5{
    margin-left: 5px;
}