@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.p-5 {
  padding: 5px; }

.w-50 {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 50%;
  align-items: center;
  margin: auto; }

.m-r-5 {
  margin-right: 5px; }

.m-l-5 {
  margin-left: 5px; }

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f5f6fa; }

.material-icons {
  font-size: 14px !important;
  font-weight: 500; }

.align-center {
  text-align: center; }

.main-btn {
  all: unset;
  cursor: pointer;
  padding: 12px 28px;
  color: white;
  background-color: #5457b6;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px; }

.cancel-btn {
  all: unset;
  cursor: pointer;
  padding: 12px 28px;
  color: white;
  background-color: #ed6468;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px; }

.reply-actions {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  grid-column: 12/12; }

.material-icons {
  font-size: 12px; }

.reply-actions {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer; }

.reply-action-color {
  color: #5457b6; }

.delete-action {
  color: #ed6468; }

.reply-action {
  margin-right: 8px; }

.reply-action:hover {
  text-decoration: underline; }

.profile-description {
  font-size: 14px;
  color: #67727e; }

.form-row {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  grid-template-columns: repeat(12, 1fr); }

.form-content {
  display: flex;
  grid-column: 1/12;
  justify-content: flex-start; }

.col-two-thirds {
  grid-column: 1/9; }

.col-third {
  grid-column: 1/3; }

.reply-form-textarea {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid #5457b6;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif; }

.reply-form-button {
  flex-grow: 0;
  align-self: flex-start;
  margin-left: 10px; }

.profile {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr); }

.profile-details {
  display: flex;
  align-items: center;
  grid-column: 1/11; }

img {
  border-radius: 50px;
  height: 32px;
  padding: 10px; }

.author {
  font-size: 12px;
  font-weight: 700;
  color: #324152; }

.date {
  font-size: 12px;
  font-weight: 400;
  color: #67727e; }

.vote {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
  color: #5457b6;
  align-items: center;
  width: 20px;
  border-radius: 5px; }

.votes {
  font-size: 12px;
  font-weight: 700;
  color: #5457b6; }

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
  border-radius: 5px;
  justify-items: center;
  margin: 10px; }

/* column-voting */
.column-voting {
  grid-column: 1/1; }

/* column-description */
.column-description {
  grid-column: 2/-1; }
