@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body{
  font-family: 'Rubik', sans-serif;
  background-color: hsl(228, 33%, 97%);
}

.card{
  margin-bottom: 10px;
  padding: 10px;
}

.replies {
  margin-top: 20px;
}

.replies-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.replies-container {
  margin-top: 40px;
}

.reply-form-title {
  font-size: 22px;
}

.reply-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.reply-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: hsl(238, 40%, 52%);
  border-radius: 8px;
  color: white;
}

.reply-form-button:hover:enabled {
  cursor: pointer;
  background: hsl(238, 40%, 52%);
}

.reply-form-button:disabled {
  cursor: default;
}

.reply-form-cancel-button {
  margin-left: 10px;
}

.reply {
  display: flex;
  margin-bottom: 28px;
}

.reply-image-container {
  margin-right: 12px;
}

.reply-image-container img {
  border-radius: 50px;
}

.reply-right-part {
  width: 100%;
}

.reply-content {
  display: flex;
}

.reply-author {
  margin-right: 8px;
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}

.reply-date{
  margin-right: 8px;
  font-size: 14px;
  color: hsl(211, 10%, 45%);
  font-weight: 400;
}

.reply-text {
  padding-top: 10px;
  font-size: 14px;
  color: hsl(211, 10%, 45%);
}

.reply-button {
  display: flex;
  align-items: flex-end;
  font-size: 12px;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
  margin-top: 8px;
}

.material-icons{
  font-size: 12px;
} 
.reply-actions {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 8px;
}

.reply-action-color{
  color: hsl(238, 40%, 52%);
}

.delete-action{
  color: hsl(358, 79%, 66%);
}
.reply-action {
  margin-right: 8px;
}

.reply-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
